html{
font-size: 62.5%;
}

/* CONTAINER USED TO APPLY THE THEME UTILITY CLASSES */
:root {
  /* Note: I had to move this variable here because it was not working if I placed it in the three themes variables sets. Couldn't found out why. */
--bulletin_board-inf_txt: lightgreen ;
}
.dark-theme {
/*  */
--body-wallpaper_bg: none ;
--body-bg-gradient_color1: rgb(16,44,21);
--body-bg-gradient_color2: #0e0e43 ;

--btn-menu-app-config-bg: transparent ;
--btn-menu-app-config-wf: darkgreen ;
  --modal-app-config-bg: transparent ;
  --modal-app-config-wf: darkblue ;
  --modal-app-config-txt: #fefceeff;

    --lcd-bg: transparent ;
    --lcd-num-typed: #fefceeff;
    --lcd-num-registered: #90ea9c;
    --lcd-num-result: #edd037dd;
    --lcd-last-op:  lightgreen ;

  --all-registers_modal-bg: transparent;
  --part-registers_modal-bg: transparent;
  --registers_modal-wf: green ;
  --app-interface-labels: #fefceeff ;

  --bulletin_board-wf: green;
  --bb-flash-txt: none ;
  --bulletin_board-greet_bg: transparent ;
  --bulletin_board-inf_bg: transparent ;
  --bulletin_board-int_bg: transparent ;
  --bulletin_board-fat_bg: rgb(7,7,61) ;
  --bulletin_board-clr_bg: transparent ;
  --bulletin_board-tst_bg: transparent ;
  /* 
  Note: Read root{} comment for more ingo. 
    --bulletin_board-inf_txt: lightgreen ;
  */
  --bulletin_board-int_txt: yellow;
  --bulletin_board-fat_txt: #ff3761 ;
  --bulletin_board-clr_txt: inherit ;
  --bulletin_board-tst_txt: yellow;
  --bulletin_board-greet_txt: #2cfc95;
  
  --key-bg: transparent ;
  --body-bg-gradient_color3:rgb(16,44,21); /* #19005d*/ 
  --body-bg-gradient_color4: #0e0e43 ;
  --key-active-bg: #2121eb;
  --key-wf: green;
  --key-symb-all-normal: #fefceeff;
  --key-symb-op-active: #2cfc95;
  --key-symb-op-denyed: #f82929;
  --key-symb-equal: gold;
  --key-symb-ms: #029d02 ;

  --format_modal-heather: #fefceeff;
  --format_modal-txt: #fefceeff;
  --format_modal-param: #fefceeff;
  --format_modal-datum-bg: #00336c;
  --format_modal-go_btn-wf: green ;
  --format_modal-exit_btn-wf: green ;
  --format_modal-key-apply_symb: lightgreen;
--format_modal-key-exit_symb:tomato;

--help_btn-wf: #fefceeff;
--help_btn-symb: yellow ;
}
.soothing-theme {
/*  */
--body-wallpaper_bg: none ;
--body-bg-gradient_color1:rgb(29,9,83) ;
--body-bg-gradient_color2:rgb(59,30,15);

--btn-menu-app-config-bg: transparent ;
--btn-menu-app-config-wf: #7c1503 ;
  --modal-app-config-bg: transparent ;
  --modal-app-config-wf: #440101 ;
  --modal-app-config-txt: #fefceeff;

    --lcd-bg: transparent ;
    --lcd-num-typed: #fefceeff;
    --lcd-num-registered: #90ea9c;
    --lcd-num-result: #edd037dd;
    --lcd-last-op:  lightgreen ;

  --all-registers_modal-bg: transparent;
  --part-registers_modal-bg: transparent;
  --registers_modal-wf: tomato ;
  --app-interface-labels: #fefceeff ;

  --bulletin_board-wf: tomato;
  --bb-flash-txt: none ;
  --bulletin_board-greet_bg: transparent ;
  --bulletin_board-inf_bg: transparent ;
  --bulletin_board-int_bg: transparent ;
  --bulletin_board-fat_bg: #19005d ;
  --bulletin_board-clr_bg: transparent ;
  --bulletin_board-tst_bg: transparent ;
  
  /* 
  Note: Read root{} comment for more ingo. 
    --bulletin_board-inf_txt: lightgreen ;
  */
  --bulletin_board-int_txt: yellow;
  --bulletin_board-fat_txt: #ff3761 ;
  --bulletin_board-clr_txt: inherit ;
  --bulletin_board-tst_txt: yellow;
  --bulletin_board-greet_txt: #2cfc95;
  
  --key-bg: transparent ;
  --body-bg-gradient_color3: rgb(29,9,83) ;  /*#19005d*/
  --body-bg-gradient_color4: rgb(59,30,15);
  --key-active-bg: rgba(157,18,121,0.7);
  --key-wf: tomato;
  --key-symb-all-normal: #fefceeff;
  --key-symb-op-active: #2cfc95;
  --key-symb-op-denyed: #f82929;
  --key-symb-equal: gold;
  --key-symb-ms: #029d02 ;

  --format_modal-heather: #fefceeff;
  --format_modal-txt: #fefceeff;
  --format_modal-param: #fefceeff;
  --format_modal-datum-bg: #00336c;
  --format_modal-go_btn-wf: tomato ;
  --format_modal-exit_btn-wf: tomato ;
--format_modal-key-apply_symb: lightgreen ;
--format_modal-key-exit_symb:tomato;

--help_btn-wf: #fefceeff;
--help_btn-symb: yellow ;
}
.light-theme {
/*  */
--body-wallpaper_bg:url(bg.jpg) ;
--body-bg-gradient_color1: transparent ;
--body-bg-gradient_color2: transparent ;

--btn-menu-app-config-bg: transparent ;
--btn-menu-app-config-wf: rgb(97,97,97) ;
  --modal-app-config-bg: transparent ;
  --modal-app-config-wf: #383535 ;
  --modal-app-config-txt: #fefceeff;

    --lcd-bg: transparent ;
    --lcd-num-typed: #fefceeff;
    --lcd-num-registered: #90ea9c;
    --lcd-num-result: #edd037dd;
    --lcd-last-op:  lightgreen ;

  --all-registers_modal-bg: transparent;
  --part-registers_modal-bg: transparent;
  --registers_modal-wf: lightgray ;
  --app-interface-labels: #fefceeff ;

  --bulletin_board-wf: lightgray;
  --bb-flash-txt: none ;
  --bulletin_board-greet_bg: transparent ;
  --bulletin_board-blink_bg: #277a72; 
  --bulletin_board-inf_bg: transparent ;
  --bulletin_board-int_bg: transparent ;
  --bulletin_board-fat_bg: transparent ;
  --bulletin_board-clr_bg: transparent ;
  --bulletin_board-tst_bg: transparent ;
  --bulletin_board-tst_bg: transparent 
  
  /* 
  Note: Read root{} comment for more ingo. 
    --bulletin_board-inf_txt: lightgreen ;
  */
  --bulletin_board-int_txt: yellow;
  --bulletin_board-fat_txt: #ff3761 ;
  --bulletin_board-clr_txt: transparent ;
  --bulletin_board-tst_txt: yellow;
  --bulletin_board-greet_txt: #2cfc95;
  
  --key-bg: transparent ;
  --body-bg-gradient_color3: transparent ;
  --body-bg-gradient_color4: transparent ;
  --key-active-bg: rgba(132,121,129,0.7);
  --key-wf: lightgray;
  --key-symb-all-normal: #fefceeff;
  --key-symb-op-active:#2cfc95;
  --key-symb-op-denyed: #f82929;
  --key-symb-equal: gold;
  --key-symb-ms: #029d02 ;

  --format_modal-heather: #fefceeff;
  --format_modal-txt: #fefceeff;
  --format_modal-param: #fefceeff;
  --format_modal-datum-bg: #00336c;
  --format_modal-go_btn-wf: white ;
  --format_modal-exit_btn-wf: white ;
  --format_modal-key-apply_symb: lightgreen ;
  --format_modal-key-exit_symb:tomato;

--help_btn-wf: #fefceeff;
--help_btn-symb: yellow ;
}

body{
margin: 0;
width: 100%;
height:100%;

background-image: var(--body-wallpaper_bg);
background-size: cover ;
/*
background-color : var(--body-wallpaper_bg);

background-image: url('/bg.jpg');
background-repeat: no-repeat ;
background-size: cover;

linear-gradient(to bottom right , var(--body-bg-gradient_color1), var(--body-bg-gradient_color2));
background-repeat: no-repeat ;

background-image: linear-gradient(to bottom , var(--body-bg-gradient_color1) 0%, var(--body-bg-gradient_color2) 20%, var(--body-bg-gradient_color1) 40%, var(--body-bg-gradient_color2) 60%, var(--body-bg-gradient_color1) 80%, var(--body-bg-gradient_color2) 100%); 
background-repeat: no-repeat ;
*/
position: relative ;
}

/* Empty frame used for debugging */
#ref-div {
/*
*/
outline: 1px solid magenta;
z-index: 3;
width: 10%;
height:38.5rem;
color: white ;
position: absolute ;
top: 0;
right: 10% ;
}

/* CONTAINER OF WHOLE APP */
#whole-app-container {
width: 100%;
height: 100%;
background-image: linear-gradient(to bottom  , var(--body-bg-gradient_color1) 0%, var(--body-bg-gradient_color2) 20%, var(--body-bg-gradient_color1) 40%, var(--body-bg-gradient_color2) 60%, var(--body-bg-gradient_color1) 80%, var(--body-bg-gradient_color2) 100%); 
background-repeat: no-repeat ;
background-size: cover ;
/* 
background-image: url(/16_9.jpg);

background: linear-gradient(to bottom right , var(--body-bg-gradient_color3), var(--body-bg-gradient_color4));
*/
position: fixed ;

}

/* APP CONFIGURATION MODAL FRAME */
#app_settings_modal-frame{
  /*
  */
outline: 1px solid var(--modal-app-config-wf);  
background-color: var(--settings-modal-bg); /* #5d0505 */
color: var(--modal-app-config-txt);
font-size:0.9rem;
width: 92%;
height: 8rem;
position: absolute ;
/*
top and left controlled by JavaScript
function hideAppSettingsModal ():
top: -8.2rem;
left: 101%;
function showAppSettingsModal ():
top: 0;
left: 7%;
*/
transition: all 0.5s ease-out;
z-index:1;
}
h3{
font-weight: bolder;
font-size: 1.3rem;
color: var(--modal-app-config-txt);
margin-top :0;
margin-left: 0.75rem;
margin-bottom :0;
}
hr{
width: 100%;
border-top: 1px solid var(--modal-app-config-wf);
border-bottom: 0;
border-left: 0;
border-right: 0 ;
}
.user-settings-radio-btn-names{
color: var(--modal-app-config-txt);
font-weight: bolder;
font-size: 1rem;
}
#app-settings-modal.li:last-child{
padding-bottom: 1rem;
}
#app-settings-modal.li{
display: block;
width: 35%;
}
#app-settings-modal{
/*
outline: 1px solid var(--modal-app-config-wf);
*/
background-color: var(--modal-app-config-bg);
color: var(--modal-app-config-txt);
height: 8rem;
text-decoration: none;
margin: 0 auto ;
padding: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
}
 
/* LCD SUBASSEMBLY */
#lcd-frame{
/*
*/
outline: 1px solid transparent ;
width: 99.5%;
height: 8.2rem;
background-color: var(--lcd-bg);
margin: 0 auto;
margin-bottom: 4px;
padding: 0;
position: relative;
}
#app-settings-menu-btn{
width: fit-content ;
height: 5rem;
font-size: 2.5em;
background-color: var(--btn-menu-app-config-bg);
 border: 1px solid var(--btn-menu-app-config-wf);
 border-radius:15%;
 color: var(--modal-app-config-txt);
 font-weight:bold;
 text-align: center;
 /* margin: 0.1vw 0.5vw; */ 
 transition: all 0.4s;
 position: absolute ;
 transform: rotate(-90deg);
 top: -1.2rem;
  left: 2rem;
  z-index:2;
  /* 
   top: 3rem;
  left: 0.2rem;
  */
}
#lcd{
/*
outline: 1px solid orange ;
*/
display: block;
margin-top: 1px;
padding-top: 4.7%;
/*margin:0;
width: 95%;
position:relative ;
*/
height:50%;
/* margin: 0 auto; */
/*padding-right: 0.1em;
color: var(--lcd-num-typed);
background-color: var(--lcd-bg);
*/
border-radius:10%;
font-size: 450%;
text-align:right;
/*line-height: 180%;*/
}
#lastOpDispl{
  outline: 1px solid transparent ;
  display: block;
line-height : 1rem ;
  padding-bottom: 0.1rem;
padding-left : 0.1rem;
  margin: 0;
  color: var(--lcd-last-op);
  font-weight: bold;
  font-size: 2.5rem;
  position: absolute ;
  /* 
  top:  5.7rem;
  left:0.3rem;
  */
bottom :  0;
  left:0;
  z-index:1;
}

/* CONTAINER OF KEYS & FORMAT_MODAL  TO CTRL ITS SHOW/HIDE */
#core-switcher-ctrl {
outline: 3px solid transparent ;
position: relative;
z-index: 2;
}

/*  FORMAT MODAL FRAME */
#format-modal{
outline: 1px solid transparent ;
width: 98%;
height:34rem;
margin: 0;
padding-top: 4.5rem;
color:var(--format_modal-txt);
font-size:1.5rem;
/*
top: 22vw;  margin-bottom: 2rem;
*/
transition: all 0.5s;
opacity:0; /* opacity:0; */
position: absolute ; /* static */
left :0;
top: 0;
z-index:0;  /* z-index:0; */
}
#apply-format, #quit-format{
/* opacity:1; */
 display: block;
 background-color: var(--key-bg);
 border: 1px solid var(--format_modal-go_btn-wf);
 border-radius:15%;
 font-weight:bolder;
 text-align: center;
 line-height: 150%;
 margin: 0.1vw 0.5vw;
font-size: 5vw;
width:fit-content;
height:fit-content;
color: var(--format_modal-key-apply_symb);
}
#quit-format{
border:1px solid var(--format_modal-exit_btn-wf);
color: var(--format_modal-key-exit_symb);
}
#format_choices-heather{
text-align:center;
}
#format_values-panels-heather{
/* opacity:0; */
text-align:center;
}
/* Strip ul std formatting */
ul {
list-style:none;
margin-left:3rem;
}
.datum{/*
outline: 1px solid var(--borders-color);
*/
margin-left:5.5rem;
color: gold;
background-color: var(--format_modal-datum-bg); /* #0080004d; */
/*rgb(255,255,255,0.2);*/
border:none ;
text-align:right;
margin-right: 1rem;
font-weight:bold;
}
#original-format-decimals{
display:inline-block;
min-width: 4.46rem;
padding-right:0;
}
#format_modal-buttons{
margin-top:2rem;
display:flex;
flex-direction:row;
flex-wrap:nowrap;
justify-content:space-around ;
align-items:flex-start;
}
/*  control to show/hide panel format choices */
li:first-child, #original-panel, #round-panel, #scientific-panel{
/*opacity: 0 ;*/
position: relative;
left: 101%;
}

/* KEYBOARD SUBASSEMBLY */
#keyboard{
  outline: 1px solid transparent ;
  width: 98%;
  height: fit-content;
background-image: linear-gradient(to bottom right , var(--body-bg-gradient_color3), var(--body-bg-gradient_color4));
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: center ;
  font-weight: bold;
  margin: 0 auto;
  transition: all 0.75s;
  opacity:1; /* opacity:1; */
  position: relative ; /* relative */
  /* z-index:4; */
}
.key, .mem-key{
background-color: var(--key-bg);
outline: none;
   /*
background-color: var(--key-bg);
   
 background-image: linear-gradient(to bottom right , var(--body-bg-gradient_color3), var(--body-bg-gradient_color4));

background-image: linear-gradient(to bottom right , var(--body-bg-gradient_color3), var(--body-bg-gradient_color4));
background-repeat: no-repeat ;
*/
 display: block;
 width: 23.5vw;
 height: 15vw;
  /* background-color: var(--key-bg);
#010153 */
 border: 1px solid var(--key-wf);
 border-radius:15%;
color: var(--key-symb-all-normal);
 font-size:10vw;
 font-weight:bolder;
 text-align: center;
 line-height: 150%;
 margin: 0.1vw 0.5vw;
}
 
.key:active , .mem-key:active {
 background-color: var(--key-active-bg);
}
 
/* DEVELOPER DATA GRILLE */
#modal-all_registers-frame{
outline: 1px solid transparent ;
width: 100%;
background-color: var(--all-registers_modal-bg) ;
transition: all 0.5s ; 
z-index: -1; 
position: absolute ;
/*bottom: 7.5rem;
left: 0; bottom: 0;*/
}
/* These are the App interface labels (texts) for the Developer Grille */
span, p{
 height:1.3rem;
 padding: 0.3rem;
 color: var(--app-interface-labels);
 margin-top:0.1rem;
 margin-bottom:0.1rem;
 
}

.debug-element, .calc-element {
  border: 1px solid var(--registers_modal-wf);
  border-radius: 0.3rem;
  font-weight: bold;
  width: 49%;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
  align-items: center;
  margin-left: 0.5rem;
  }

#modal-partial_registers-wrapper{
outline: 1px solid transparent ;
background-color: var(--part-registers_modal-bg) ;
font-size: 1.2rem;
 /* margin-top:3vw;
  margin-left:0; */
margin: 0.3rem auto;
display:flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
  /*  ;*/
opacity: 0;
transition: opacity 0.75s ease-in;
}

.debug-pair, .calc-pair{/*outline: 1px solid #f82929; */
  width: 99%;
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
}

/* BULLETIN BOARD FRAME */
#bulletin-board{
/*
outline:3px solid #f82929;
background-color: var(--bulletin_board-bg);
background-color: var(--bulletin_board-clr_bg);
color: var(--bulletin_board-greet_tx);
*/
width: 98%;
height: 6.5rem;
border: 1px solid var(--bulletin_board-wf);

border-radius: 0.3rem;
display: flex;
flex-direction:row ;
flex-wrap: nowrap;
justify-content: center ;
align-items: center ;
margin:0 auto;
position: fixed ;
bottom : 2px;
}
 
 #bullet-text{
 /*
 outline:3px solid yellow ;
display: block;
color: var(--noti-board-txt);
color: var(--bulletin_board-greet_txt) ;
 */
 
 width: fit-content;
 height: fit-content;
 font-weight: bold;
 font-size: 1.3rem;
/*
white-space: pre-wrap;
*/
text-align: center;
margin-top: 0;
 /*color: #ae35dc;*/
 }
 
#help{
/* transition: all 0.4s;
transform: rotate(-90deg);
*/
width: fit-content ;
height:  fit-content;
font-size: 1.5em;
padding: 0 0.5rem;
border: 1px solid var(--help_btn-wf);
background-color: var(--key-bg);
 color: var(--help_btn-symb);
 font-weight:bold;
 text-align: center;
 /* margin: 0.1vw 0.5vw; */ 
 border-radius:15%;
 
/*
 top: 0.4rem;
  left: 0.5rem;
  z-index:3;
  */
  
 position: absolute ;
 right: 3px;
 bottom: 3px;
}
/* THIS IS THE END OF THE APP */





 #help-page{
 font-size: 2rem;
 color: var(--format_modal-txt);
 }
 /*
#test2, #test3{
width: fit-content;
height: fit-content;
font-size: 2em;
background-color: var(--key-bg);
 border: 1px solid var(--key-wf);
 border-radius:15%;
 color: white;
 font-weight:normal;
 text-align: center;
 margin: 0.1vw 0.5vw;
   
}

 #test2, #test3{
   margin:1vw;
   position: absolute;
   right:.5rem;
   top: 1rem;
 }
 

#help{
margin: 0.1vw 0.5vw;
margin:3rem auto;
margin:1vw;
background-color: #101090 
display: block;
--btn-help-bg-hsl_hue

font-weight: bold;
*/
/*
width: fit-content;
height: fit-content;
font-size: 3rem;
color: hsl(calc(var(--btn-help-bg-hsl_hue) - 180),100%,49%);
 background-color: darkblue;
 border: 1px solid var(--key-wf);
 border-radius:15%;
 font-weight:normal;
 text-align: center;
 padding:0 0.75rem;
 text-decoration: none;
transition: all ease-in 2s;
 }
 */
 
